<div [style.position]="fixed ? 'fixed': 'initial'">
    <div class="card mb-3">
        <div class="d-flex justify-content-center">
            <img class="w-50" src="../assets/img/true_wireless.png" alt="">
        </div>
    </div>
    <div class="row gx-3">
        <div class="col-4">
            <div class="card p-2">
                <div class="d-flex justify-content-center">
                    <img class="w-50" src="../assets/img/true_wireless.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card p-2">
                <div class="d-flex justify-content-center">
                    <img class="w-50" src="../assets/img/true_wireless.png" alt="">
                </div>
            </div>
        </div>  
        <div class="col-4">
            <div class="card p-2">
                <div class="d-flex justify-content-center">
                    <img class="w-50" src="../assets/img/true_wireless.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>