.red {
    color: #CB253C !important;
}
.gray {
    color: #6B7280 !important;
}
.black {
    color: #111111 !important;
}
.line-h-08 {
    line-height: 1 !important;
}

.sub-title {
    font-weight: 100;
    font-size: 14px;
}

.fs-13 {
    font-size: 13px !important;
}