<div class="fadeIn-animation">
    <span class="fs-14">
        For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no
        different. Thanks to leading audio technology and innovation, these new earbuds deliver the best
        listening experience anytime, anywhere. With improved ergonomics designed for full day wearing and
        refined touch controls for a more personalised experience, they have been finely crafted for the
        most discerning listener and aim to simplify your life by enhancing your everyday.
    </span>
    <div class="row gx-3 mt-5 d-sm-none">
        <div class="col-12 p-2 mb-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <i class="icon-hand mb-2"></i>
                <span class="text-center black fs-13">Customizable Touch Controls </span>
            </div>
        </div>
        <div class="col-12 p-2 mb-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <i class="icon-shape mb-2"></i>
                <span class="text-center black fs-13">Built-in Equalizer</span>
            </div>
        </div>
        <div class="col-12 p-2 mb-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <i class="icon-combinedShape mb-2"></i>
                <span class="text-center black fs-13">Active Noise Cancellation</span>
            </div>
        </div>
    </div>

    <p class="black sub-title m-0 fs-18 mt-5"> Choose your finish.</p>
    <div class="row gx-3 mb-5">
        <div class="col-12 col-md-6 col-xl-6">
            <div class="card c-events mb-3 info " [ngClass]="{'active': !typeColor}" (click)="typeColor = false">
                <div class="card-body">
                    <p class="black mb-1">Ivory White</p>
                    <p class="gray m-0">
                        For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-6">
            <div class="card c-events mb-3 info " [ngClass]="{'active': typeColor}" (click)="typeColor = true">
                <div class="card-body">
                    <p class="black mb-1">Matte Black</p>
                    <p class="gray m-0">
                        Of all of the celestial bodies that capture our attention and fascination as astronomers.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <p class="mb-1 sub-title fs-18 black">Would you like to add extended warranty coverage?.</p>
    <div class="row mb-5">
        <div class="col-12 col-xl-12">
            <div class="card c-events info mb-3" [ngClass]="{'active': !coverage}" (click)="setCoverage(false)">
                <div class="card-body">
                    <p class="black mb-1">2 years coverage</p>
                    <p class="gray m-0">
                        For the past 75 years, Sennheiser has put sound first.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-12">
            <div class="card c-events info mb-3" [ngClass]="{'active': coverage }" (click)="setCoverage(true)">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p class="black mb-1">3 years coverage</p>
                            <p class="gray m-0">
                                For the past 75 years, Sennheiser has put sound first.
                            </p>
                        </div>
                        <span class="black">+ $75</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="mb-1 black sub-title fs-18 ">Features.</p>
    <div class="row mb-5">
        <div class="col-12 col-xl-12">
            <div class="card c-events info mb-3" [ngClass]="{'active': !feature }" (click)="setFeature(false)">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="black mb-1">Voice Assistant support</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-12">
            <div class="card c-events info mb-3" [ngClass]="{'active': feature }" (click)="setFeature(true)">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="black mb-1">Customizable controls</p>
                        <span class="black">+ $25</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col-12 col-xl-12 mb-4">
            <p class="mb-1 black sub-title fs-18 ">Specifications.</p>
            <hr>
            <table class="table">

                <tbody>
                    <tr>
                        <td>Dimensions</td>
                        <td [style.text-align]="'right'">76.8 x 43.8 x 34.7 mm (earbuds and charging case)</td>
                    </tr>
                    <tr>
                        <td>USB Standard</td>
                        <td [style.text-align]="'right'">USB-C</td>
                    </tr>
                    <tr>
                        <td>Power supply</td>
                        <td [style.text-align]="'right'">Sennheiser 7mm dynamic driver</td>
                    </tr>
                    <tr>
                        <td>Frequency response (Microphone)</td>
                        <td [style.text-align]="'right'">100 Hz to 10 kHz</td>
                    </tr>
                    <tr>
                        <td>Frequency response</td>
                        <td [style.text-align]="'right'">5 - 21,000 Hz</td>
                    </tr>
                    <tr>
                        <td>Noise cancellation</td>
                        <td [style.text-align]="'right'">Single-Mic ANC per earbud side</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>