@font-face {
    font-family: 'Circular-Std';
    src: url("../fonts/Circular-Std-Bold.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: 'Circular-Std';
    src: url("../fonts/Circular-Std-Book.otf") format("opentype");
    font-style: normal;
}
@font-face {
    font-family: 'Circular-Std';
    src: url("../fonts/Circular-Std-Medium.otf") format("opentype");
    font-style: normal;
}
