//colors
.red {
    color: #CB253C !important;
}
.gray {
    color: #6B7280 !important;
}
.black {
    color: #111111 !important;
}
.line-h-08 {
    line-height: 1 !important;
}

// texts
.sub-title {
    font-weight: 100;
    font-size: 14px;
}

//sizes
.fs-13 {
    font-size: 13px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-15 {
    font-size: 15px !important;
}
.fs-18 {
    font-size: 18px !important;
}

//widths
.w-40 {
    width: 40%;
}

.c-pointer {
    cursor: pointer;
}