<div class="container mb-8rem">
    <div class="row">
        <div class="col-xl-6 mb-3">
            <div class="sticky-lg-block">
                <div class="mb-4">
                    <app-slide-show [slides]="slides"></app-slide-show>
                </div><br>
                <div class="row gx-3 mt-3 d-none d-sm-flex">
                    <div class="col-4 p-2">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <i class="icon-hand mb-2"></i>
                            <span class="text-center fs-13">Customizable Touch Controls </span>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <i class="icon-shape mb-2"></i>
                            <span class="text-center fs-13">Built-in Equalizer</span>
                        </div>
                    </div>
                    <div class="col-4 p-2">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <i class="icon-combinedShape mb-2"></i>
                            <span class="text-center fs-13">Active Noise Cancellation</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <p class="m-0 sub-title red"> NEW RELEASE </p>
            <h2 class="m-0 line-h-08"> MOMENTUM True Wireless 2 </h2>
            <h4 class="gray mb-4"> Earbuds that put sound first</h4>
            <p class="sub-title gray m-0">
                STARTING AT
            </p>
            <span class="fs-2 fw-500 mb-4">$295.95</span>

            <div class="tab">
                <ul class="tab-list">
                    <li class="tab-item" *ngFor="let tab of itemsTabs; index as i" (click)="selectedTab(tab)"
                        [ngClass]="{'active': i == activeIndex? true : false}">
                        <span>{{tab.label}}</span>
                    </li>
                </ul>
                <div class="tab-content">
                    <app-overview *ngIf="activeIndex == 0"></app-overview>
                    <app-features *ngIf="activeIndex == 1"></app-features>
                    <app-box *ngIf="activeIndex == 2"></app-box>
                </div>
            </div>
        </div>
    </div>
</div>