<div class="container" style="margin-bottom: 8rem;">
    <div class="row">
        <div class="col-xl-6 mb-4">
           <app-slide-show [fixed]="true"></app-slide-show>
        </div>
        <div class="col-xl-6">
            <p class="m-0 sub-title red"> NEW RELEASE </p>
            <h2 class="m-0 line-h-08"> MOMENTUM True Wireless 2 </h2>
            <h4 class="gray mb-4"> Earbuds that put sound first</h4>
            <p class="sub-title gray m-0">
                STARTING AT
            </p>
            <span class="fs-2 fw-500 mb-4">$295.95</span>

            <div class="tab">
                <ul class="tab-list">
                    <li class="tab-item">
                        <span href="">Overview</span>
                    </li>
                    <li class="tab-item active">
                        <span href="">Features</span>
                    </li>
                    <li class="tab-item">
                        <span href="">What's in the box?</span>
                    </li>
                </ul>
                <div class="tab-content">
                    For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no
                    different. Thanks to leading audio technology and innovation, these new earbuds deliver the best
                    listening experience anytime, anywhere. With improved ergonomics designed for full day wearing and
                    refined touch controls for a more personalised experience, they have been finely crafted for the
                    most discerning listener and aim to simplify your life by enhancing your everyday.
                </div>
            </div>
            <br><br><br><br>

            <p> Choose your finish.</p>
            <div class="row gx-3">
                <div class="col-12 col-xl-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="sub-title black mb-1">Ivory White</p>
                            <p class="gray fs-13 m-0">
                                For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="sub-title black mb-1">Ivory White</p>
                            <p class="gray fs-13 m-0">
                                For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <p class="mb-1">Would you like to add extended warranty coverage?.</p>
            <div class="row">
                <div class="col-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="sub-title black mb-1">Ivory White</p>
                            <p class="gray fs-13 m-0">
                                For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="sub-title black mb-1">Ivory White</p>
                            <p class="gray fs-13 m-0">
                                For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br> <br>
            <p class="mb-1">Features.</p>
            <div class="row">
                <div class="col-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="sub-title black mb-1">Ivory White</p>
                                <span>+ $25</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="sub-title black mb-1">Ivory White</p>
                            <p class="gray fs-13 m-0">
                                For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">
                <span class="sub-title gray">Free Shipping</span>
            </div>
            <div class="col-xl-3">
                <span class="sub-title gray">Get 2-day free shipping anywhere in North America.</span>
            </div>
            <div class="col-xl-6">
                <div class="d-flex justify-content-end h-100">    
                    <button class="btn btn-primary">Buy now</button>
                </div>
            </div>
        </div>
    </div>
</div>